<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>
      Amazona
    </title>
  </head>
  <body>
    <div class="grid-container">
      <header>
        <div class="brand">
          <a href="index.html">amazona</a>
        </div>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <ul>
          <li>
            Product 1
          </li>
          <li>
            Product 2
          </li>
          <li>
            Product 3
          </li>
          <li>
            Product 4
          </li>
        </ul>
      </main>
      <footer>
        All rights reserved
      </footer>
    </div>
  </body>
</html>
